{% extends 'base.html' %}

{% block body %}
            <div class="container">
                <h2 style="text-align: center;">About Wakanda</h2>
                <h4>Lorem Ipsum</h4>
                <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                    "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et laoreet elit. Phasellus vitae purus scelerisque, porttitor sapien sit amet, vestibulum tortor. 
                        </p>
                        <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                            "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
                        </p>
                        <br><br>
            </div>

        </div>
            <div class="container">
                <!--box-1----->
                <ul style="display: flex; flex-direction: grid; justify-content: space-around;">
                <li><div style="">
                    <span>1</span>
                    <strong>Lorem Ipsum</strong><br><br>
                    <p>There is no one who loves pain itself</p>
                    <p>by <small>Lorem Ipsum</small></p>
                    <button class="btn btn-dark"> Read More</button>
                </div></li>
                <!--box-2----->
                <li><div style="">
                    <span>2</span>
                    <strong>Lorem Ipsum</strong><br><br>
                    <p>Who seeks after it and wants to have it</p>
                    <p>by <small>Lorem Ipsum</small></p>
                    <button class="btn btn-light"> Read More</button>
                </div></li>
                <!--box-3----->
                <li><div style="">
                    <span>3</span>
                    <strong>Lorem Ipsum</strong><br><br>
                    <p>Simply because it is pain...</p>
                    <p>by <small>Lorem Ipsum</small></p>
                    <button class="btn btn-dark"> Read More</button>
                </div>    </li>
            </ul>
            </div>    
        </div>
        <br>
    
    {% endblock%}
    