{% extends 'base.html' %}

{% block body %}
            <div class="about-text">
                <p>About Me</p>
                <p>Lorem Ipsum</p>
                <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                    "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et laoreet elit. Phasellus vitae purus scelerisque, porttitor sapien sit amet, vestibulum tortor. 
                        </p>
                        <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                            "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
                        </p>
                        <br><br>
            </div>

        </div>
            <div class="container" style="display: grid; grid-column: 3; justify-content: space-around;">
                <!--box-1----->
                <ul>
                <li><div style="">
                    <span>1</span>
                    <p>Lorem Ipsum</p>
                    <p>who seeks after it and wants to have it</p>
                    <p><em>Lorem Ipsum</em></p>
                    <button> Read More</button>
                </div></li>
                <!--box-2----->
                <li><div style="">
                    <span>2</span>
                    <p>Lorem Ipsum</p>
                    <p>who seeks after it and wants to have it</p>
                    <p><em>Lorem Ipsum</em></p>
                    <button> Read More</button>
                </div></li>
                <!--box-3----->
                <li><div style="">
                    <span>3</span>
                    <p>Lorem Ipsum</p>
                    <p>who seeks after it and wants to have it</p>
                    <p><em>Lorem Ipsum</em></p>
                    <button> Read More</button>
                </div>    </li>
            </ul>
            </div>    
        </div>
    
    {% endblock%}
    