{% extends 'base.html' %}

{%block body %}
<div class="container">
   <h3><strong> Users:</strong></h3>
    <div class="row">
        {% for user in data[0] %}
      <div class="col">
        <ul>
          <li>
            User ID:{{user[0]}}
          </li>
          <li>
            Full name:<a href="\profile\guest-{{user[4]}}">{{user[1]}} {{user[2]}}</a>
          </li>
          <li>
            Username:{{user[4]}}
          </li>
          <li>
            Email:<a href="mailto:{{user[3]}}" >{{user[3]}}</a>
          </li>
          <li>
            Phone number: N/A
          </li>
      </div>
      {% endfor %}
    </div>
   <br><hr>
  <h3> <strong>Posts:<br></strong></h3>
    <div class="row">
      {% for post in data[3] %}

        <a href="\blog\{{post[0]}}"> {{post[2]}}&nbsp; </a>  ID: {{post[0]}} &nbsp;

      {% endfor %}
    </div>
    <hr>
    <h3><strong>Uploads:</strong></h3>
    <div class="row">
        {% for upload in data[4]%}
        {{uploads}}
        {% endfor %}
      </div>
      <hr>
      <h3><strong> Comments:</strong></h3>
      <div class="row">
        {% for comment in data[1] %}
        <ul>
          <li>
            User ID: {{comment[2]}}
          </li>
          <li>
            Post ID:<a href="\blog\{{comment[1]}}">{{comment[1]}}</a>
          </li>
          <li>
            Comment: {{comment[3]}}
          </li>
          <li>
            Date: {{comment[4].strftime('%a %d, %H:%M%p, %Y')}}
          </li>
        </ul>
       
      
        {% endfor %}
      </div>
      <hr>
    <h3><strong> Activity</strong></h3>
      <div class="row">

        {% for log in data[2] %}
        <ul>
          <li>
            ID: {{log[0]}}
          </li> <li>
            User ID: {{log[1]}}
          </li>
          <li>
            Username:<a href="\profile\guest-{{log[2]}}">{{log[2]}}</a>
          </li>
          <li>
            Action: {{log[3]}}
          </li>
          <li>
            Detail: {{log[4]}}
          </li>
          <li>
            Time: {{log[5].strftime('%a %d, %H:%M%p, %Y')}}
          </li>
        </ul>
       
      
        {% endfor %}
        3 of 3
      </div>
    </div>
  {% endblock%}