{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>View Logs </h1> <a href="/adminpanel">Admin panel</a>
    <form action="/admin" method="POST">
        <strong>{{status}}</strong><br><br>
        Password:&nbsp;<input type="password" name="password" class="form-control" placeholder="Password " required><br>
        {{response}}
        <small style="margin-left: 200px;">This is admin territory</small>&nbsp;&nbsp;&nbsp;<button
            style="width: 150px;" class="btn btn-danger">View</button><br><br>
    </form>
</div>
{% for item in log_data %}
<div class="container">
    <strong style="text-align: center; margin-left: 40px;">ID: {{item[0]}}</strong>
    <strong style="text-align: center; margin-left: 60px;">{{item[2]}}</strong>
    <strong style="text-align: center; margin-left: 60px;"> {{item[1]}}</strong>
    <strong style="text-align: center; margin-left: 60px;"> {{item[3]}}</strong>
</div>
{% endfor %}
</div>
<br>
{% endblock %}