{% extends 'base.html' %}

{%block body %}
<div class="container">
   
    <div class="row">
        {% for user in users %}
      <div class="col">
        {{user[4]}}
      </div>
      {% endfor %}
    </div>
   <br><hr>
    <div class="row">
      {% for post in posts %}

        {{post[1]}}

      {% endfor %}
    </div>
    <div class="container">
      <hr>
        <h3>Log item:</h3><br>
        {% for log in logs %}
        <table style="border: 1px solid black;">
          <th>ID</th><th>Action Done</th><th> Username</th>
          <tr>
            <td style="border: 1px solid black;">{{log[0]}}</td>
            <td style="border: 1px solid black;">{{log[1] }}</td>
            <td style="border: 1px solid black;">{{log[2]}}</td>
          </tr>
        </table>
        {% endfor %}
      </div>
    <div class="row">
        Upload section item:
        {% for upload in uploads %}
        ->{{uploads}}
        {% endfor %}
      </div>
      <div class="row">
        Comment  section:
        {% for comment in comments %}
        ->{{comment}}
        {% endfor %}
      </div>
      <div class="col">
        3 of 3
      </div>
      {{post}}
    </div>
  {% endblock%}