{% extends 'base.html' %}

{% block body %}

{%for i in post%}
<br>
<div class="container">
  <h2>Title: {{i[2]|safe}}</h2>
  <em>Author:{{i[1]}} <br> Posted on : {{i[4]}}</em><br>
  <small>Post ID: {{i[0]}}</small><br><br>
  <article style="white-space: pre-wrap; ">{{i[3]}}</article><br>
  <div style="display: inline;justify-content: space-between;">
    <a href='/blog/delete/{{i[0]}}'><input type="button" value="Delete" style="display: inline; "
        class="btn btn-danger"></a>&nbsp;&nbsp;&nbsp;
    <a href='/blog/edit/{{i[0]}}'><input type="button" value="Edit" style="display: inline;"
        class="btn btn-primary"></a>
  </div>
  <hr >
</div>
{%endfor%}
<br>
{%endblock%}