{% extends 'base.html' %}

{% block body %}
<main >
<h1 style="text-align: center;">Wakanda</h1>
<h5><strong> &nbsp;&nbsp;&nbsp;&nbsp; All Posts</strong></h5>
  <div class="container"  >
    {%for title in post[1]%}
    <a href="/blog/{{title[0]}}" style="text-decoration: none;"><em>{{title[2].upper()}} <small> by
          {{title[1]}}</small></em></a>
    {%endfor%}
  </div><br>
  <hr>

    {% for item in post[1] %}   
    <div>
      <div class="container" style="padding: 20px; ">
    <h5 style="text-align: center;  border-radius: 10px; "><strong>{{item[2]}}</strong></h4>
    <article style="white-space: pre-wrap; text-align: center; background-color: rgb(175, 241, 252); border-radius: 10px; " class=>
      <em>Author: <a href="/profile/guest-{{item[1]}}"><strong>{{item[1]}} </strong></a><br> 
        <strong>Posted on :</strong>{{ item[4].strftime('%B %d, %Y') }}</em>
      <p>{{item[3][0:150]}}...<a href="/blog/{{item[0]}}">Read more</a></p>
    </article>
  </div>
    {% endfor %}
    </div>
{% endblock %}
</main>