{%extends 'base.html'%}
{%block body%}
<br>
<div id="header" style="font-family: monospace;  font-size: 16px; margin-left: 20px; height: 850px;" class="container">
    <div style="display: inline;">
        {% for item in post %}
        <a href="/blog/{{item[0]}}" style="float: right">
                <input type="button" class="btn btn-light" value="Cancel" style="width: 150px;">
                 </a>
        <h2 style="display: inline;">Edit Post</h2>
    <br><br>
    <div class="form-group">
        <form action="/blog/edit/{{item[0]}}/{{item[2]}}" method="POST">
            <h4>Title: </h4><input type="text" name="title" class="form-control" value='{{item[2]}}' style="width: 200px;"><br>
            <h4>Content</h4>
            <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows='20' >{{item[3]}}</textarea><br>

            <div style="margin-left: 50px">
                <strong>Private: &nbsp;
                    <label for="yes" >
                        Yes &nbsp;&nbsp;<input type="checkbox" name="yes" value="yes"><br>
                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <label for="no">
                        No &nbsp;&nbsp;<input type="checkbox" name='no' value="no"><br>
                    </label>
                </strong>
                <input type="submit" value="Save Changes" class="btn btn-success " style="width: 200px; margin-left: 200px;">
            </div>
           
        </form>
    </div>
    {% endfor %}
</div>
{%endblock%}