{%extends 'base.html'%}
{%block body%}
<br>
<main>
    <div style="height: 500px;">
        <p>
        <h3><strong> &nbsp;Hi {{username}}</strong></h3>
        </p>
        <p > &nbsp;
            Nunc placerat ullamcorper ante a maximus. Nulla facilisi.
            Curabitur eu nisl tortor. Sed sit amet iaculis ipsum.
            Nullam tincidunt efficitur arcu, ac malesuada orci mattis eu.
            Donec venenatis non nibh eget porttitor.
            Vivamus accumsan leo nec sem consectetur aliquet.
            Donec id felis eget nisi placerat varius eu et nibh.
            Donec scelerisque eros leo. Mauris sed massa et lectus facilisis varius.
            Nam sit amet elit at eros mollis ullamcorper.
            Maecenas accumsan sed nulla id placerat.<br><br>
            &nbsp; &nbsp; &nbsp;"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is
            pain..."
            <br>
        </p>

        &nbsp; &nbsp; &nbsp;<em style="color: rgb(0, 0, 0);">Get in touch!</em><br>
        <div class="action" style="display: flex; flex: 1;">
            &nbsp; &nbsp; &nbsp;<a href="mailto:shammahodhiambo@gmail.com"><button class="btn btn-dark">Send Mail</button></a>&nbsp;&nbsp;
            <a href="tel:0795058630"><button class="btn btn-info" style="width:100px;">Call</button></a>
        </div><br>
        &nbsp; Proceed to <a href="/login">Login</a>. <br>
        &nbsp;&nbsp;Don't have an account? <a href="/signup">Sign Up</a> instead.<br>
    </div>
    </div>
    <br><br>
    <h5 class="border-bottom pb-2 mb-0">Recent post</h5>
    
    {% for post in recent %}
    <div class="container">
    <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
            <strong class="text-gray-dark">@{{post[1]}}</strong>
            <a href="/blog/{{post[0]}}">View Post &nbsp;&nbsp;&nbsp; {{post[4]}}</a>

        </div>
        <span class="d-block">{{post[2]}}
        </span>
    </div>
    </div>
    </div>

    {% endfor %}

    {{blog}}
    </div>
    <small class="d-block text-end mt-3">
        <a href="#">Help</a>
    </small>
    </div>
</main>
{%endblock%}