{% extends 'base.html' %}

{%block body%}
<br><br><br>
    <div id="header" style="font-family: monospace;  font-size: 16px; margin-left: 20px; height: 850px;"> 
        <h2>Create A Post.</h2>
        <p>
           <em>You got something interesting for the world to see?<br>
            Free your mind...</em>
        </p>
        <form action="/post" method="POST">
            Author name: <input type="text" name="author" placeholder="Author" required> &nbsp;&nbsp;&nbsp;
            Post Title: <input type="text" name="title" placeholder="Title" required><br><br>
            <textarea rows="20" cols="100" name= 'content' placeholder="Free your mind"></textarea> <br>
            <button class="down-cv" style="height: 40px; width: 80px; margin-left: 840px; border-radius: 10px;">Post</button>
        </form>
       
        <br>
    </div>
    
{% endblock %}
