{%extends 'base.html'%}
<!--updates page-->

{%block body%}
<div class="updates" style="height: 600px;">
    <form action="/update">
            <div class="update" style="margin:10%; position: absolute;">
                <em>Enter updates below:</em><br><br>
                <textarea type='text' style="height: 300px; width: 500px; border-radius: 10px;" name="update" required></textarea><br><br>
                <button class="down-cv" style="margin-left: 200px; border-radius: 10px; background-color: red;">Update</button>
            </div>            
        </p>
        
    </form>

</div>
{%endblock%}